h1{
  color:rgb(255, 227, 66);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  font: bold 29pt Goudy Stout;
  text-align:center;
}
p{
  color:rgb(253, 253, 253);
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  font: bold 17pt Brodway;
  text-align: center;
  padding:10px;
  
}
body{
  background:rgb(47, 47, 92);
  color:white;
}
div.box {
	width: 238px;
	display: inline-block;
  margin-right: auto;
  margin-top:40px;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  height: 494px;
}
p#p1{
  color:rgb(0, 0, 0);
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
  font: bold 17pt Brodway;
  text-align: center;
  padding:10px;
}
section#s1{
  background: white;
  box-shadow: 3px 3px 0px rgb(168, 168, 168);
}
section#s2{
  background: white;
  box-shadow: 3px 3px 10px rgb(168, 168, 168);
}
input#botaox {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 50px;
  padding: 5px;
  font: bold 12pt Arial;
  border-radius: 10px;
  box-shadow: 1px 1px 5px white;
}
input:hover{
background: #E0E0F8; 
}
div#box2{
margin-left: 50px;
}
div#box0{
margin-right: 50px;
}
